@font-face {
    font-family: "Modular";
    src: url("/public/assets/font/Modular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.launch-pad-title {
    font-family: "Modular", sans-serif;
    font-size: 7rem;
    text-align: center;
    position: relative;
    bottom: 13rem;
    color: white;
}

.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-container.with-background {
    background-image: url("/public/assets/images/JS-KIOSK-Connect.jpg");
}

.card-container {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 1280px) {
    .card-container {
        max-width: 66.67%;
    }
}

@media (max-width: 768px) {
    .card-container {
        max-width: 83.33%;
    }
}

@media (max-width: 640px) {
    .card-container {
        max-width: 91.67%;
    }
}
